Simple Display Data Using pandas libaray

In [1]:
# Series
import pandas as pd
x = [3,4,5,6]
var=pd.Series(x,index=['a','b','c','d'],dtype="float",name="Python")
print(var)
print(type(var))

a    3.0
b    4.0
c    5.0
d    6.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>

In [2]:
dic = {"name": ['python','c','c++',"java"],"popular":[12,13,14,15],"rank":[1,4,3,2]}
var1 = pd.Series(dic)
print(var1)

name       [python, c, c++, java]
popular          [12, 13, 14, 15]
rank                 [1, 4, 3, 2]
dtype: object

In [3]:
# Display 12 in 1 to 6 index
s= pd.Series(12,index=[1,2,3,4,5,6])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
# Add to Series
s1 = pd.Series(12,index=[1,2,3,4,5,6])
s2 = pd.Series(10,index=[1,2,3,])
print(s1+s2)

1    22.0
2    22.0
3    22.0
4     NaN
5     NaN
6     NaN
dtype: float64

4,5,6 are NaN because series (s2) are no 4,5,6 index so that they are so NaN when add to Sereis