***DataFame :*** DataFrame is widely used data structures in Pandas. DataFrame as a table or Spreadsheet in Python.

In [3]:
# DataFrame

import pandas as pd
l = [1,2,3,4,5,6]
var=pd.DataFrame(l)
print(var)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:

d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1=pd.DataFrame(d)
print(var1)
print(type(var1))

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>

In [5]:
# Columns
d={"a":[1,2,3,4,5],"s":[1,2,3,4,5], "d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1=pd.DataFrame(d)
print(var1)
print(type(var1))
print(var1.columns)

   a  s  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
<class 'pandas.core.frame.DataFrame'>
Index(['a', 's', 'd', 1], dtype='object')

In [7]:
# only need columns extract
d={"a":[1,2,3,4,5],"s":[1,2,3,4,5], "d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1=pd.DataFrame(d,columns=["a",1,"s"])
print(var1)
print(type(var1))
print(var1.columns)

   a  1  s
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
<class 'pandas.core.frame.DataFrame'>
Index(['a', 1, 's'], dtype='object')

In [13]:
# Change Index Name
d={"a":[1,2,3,4,5],"s":[1,2,3,4,5], "d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1=pd.DataFrame(d,columns=["a",1],index=["c","d","e",1,3])
print(var1)
print(var1.columns)
print(var1.index)

   a  1
c  1  1
d  2  2
e  3  3
1  4  4
3  5  5
Index(['a', 1], dtype='object')

Index(['c', 'd', 'e', 1, 3], dtype='object')

In [18]:
#get data
d={"a":[1,2,13,4,5],"s":[1,2,3,4,5],"d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1=pd.DataFrame(d)
print(var1)
print("Get Data From array 'a' Index 2") # Index Always  start from 0
print(var1["a"][2])

    a  s  d  1
0   1  1  1  1
1   2  2  2  2
2  13  3  3  3
3   4  4  4  4
4   5  5  5  5
Get Data From array 'a' Index 2
13