**Arithmetic Operators:**

1.  Addition Operations -> +
2.  Subtraction Operations -> -
1.  Multiplication Operations -> *
2.  Division Operations -> /
1.  Modulo Operations -> %
1.  Floor Division Operations -> //
2.  Power Operation -> **

In [3]:

import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [4]:

# 1. Add Two List
var ["C"] = var["A"] + var["B"]
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [5]:

# 2. Subtraction Operator
var["C"] = var["B"] - var["A"]
print(var)

   A  B  C
0  1  5  4
1  2  6  4
2  3  7  4
3  4  8  4

In [16]:

# 3. Multiplication Operator
var["C"] = var["B"] * var["A"]
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [15]:
# 4. Division Operator
var["C"] = var["B"] / var["A"]

# Display
display(var.style.format({"C": "{:.2f}"}))

In [20]:

# 5. Modulo Operator
var["C"] = var["B"] % var["A"]
print(var)

   A  B  C
0  1  5  0
1  2  6  0
2  3  7  1
3  4  8  0

In [23]:
# 6. Floor Division Operator
var["C"] = var["B"] // var["A"]
print(var)

   A  B  C
0  1  5  5
1  2  6  3
2  3  7  2
3  4  8  2

In [26]:

# 7. Power Operator
var["C"] = var["B"] ** var["A"]
print(var)

   A  B     C
0  1  5     5
1  2  6    36
2  3  7   343
3  4  8  4096