In [16]:
# Data
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
print(var)

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [17]:
# Insert
var.insert(1,"C",var["A"])  # 1 is the index position where "C" is insert
print(var)

   A  C  B
0  1  1  9
1  2  2  8
2  3  3  7
3  4  4  6
4  5  5  5

In [18]:
# insert "C1" in 1 index position
var.insert(1,"C1",[11,12,13,14,15])
print(var)

   A  C1  C  B
0  1  11  1  9
1  2  12  2  8
2  3  13  3  7
3  4  14  4  6
4  5  15  5  5

In [19]:
#insert 3 digits from "A"
var["C3"] = var["A"][:3]
print(var)

   A  C1  C  B   C3
0  1  11  1  9  1.0
1  2  12  2  8  2.0
2  3  13  3  7  3.0
3  4  14  4  6  NaN
4  5  15  5  5  NaN

In [20]:
# Data
var1 = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5],"C":[11,12,13,14,15]})
print(var1)

   A  B   C
0  1  9  11
1  2  8  12
2  3  7  13
3  4  6  14
4  5  5  15

In [22]:
#pop
var1.pop("B")
print(var1)

   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [23]:
# Delete
del var1["A"]
print(var1)

    C
0  11
1  12
2  13
3  14
4  15